# Import Libraries

In [10]:
import pandas as pd

# Check Missing Data

## Train Data

In [24]:
# Train data w Pubchem ID
train_df = pd.read_csv('../data/com-train-pos.csv')
train_df = train_df[['uniprot_id', 'drug', 'pubchemID', 'smiles']]
print(train_df.shape)
train_df.head()

(7902, 4)

,uniprot_id,drug,pubchemID,smiles
0,HDAC3_HUMAN,"4-phenylimidazole, 17",24853793,CC1=C(C2=C(N1)C=CC(=C2)OC)CC(=O)NC(CCCCCC(=O)C...
1,HDAC3_HUMAN,"4-phenylimidazole, 19",11700059,CCC(=O)CCCCCC(C1=NC=C(N1)C2=CC=CC=C2)NC(=O)CC3...
2,HDAC3_HUMAN,AC1OCG0B,6918878,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=C(C=CC(=C2)C3=CC=...
3,HDAC3_HUMAN,Acetyldinaline,2746,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=CC=CC=C2N
4,HDAC3_HUMAN,apicidin,467801,CCC(C)C1C(=O)N2CCCCC2C(=O)NC(C(=O)NC(C(=O)N1)C...

In [46]:
# Train data fp
train_fp_df = pd.read_csv('../data/com-train-pos-fp.csv')
train_fp_df.columns = ['pubchemID'] + list(train_fp_df.columns[1:])
print(train_fp_df.shape)
train_fp_df.head()

(7445, 882)

,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,>=_4_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,24853793,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11700059,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6918878,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2746,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,467801,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
7902 - 7445

457

In [52]:
train_combine = train_df.merge(train_fp_df, how='inner', on='pubchemID')
print(train_combine.shape)
train_combine.head()

(7634, 885)

,uniprot_id,drug,pubchemID,smiles,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,HDAC3_HUMAN,"4-phenylimidazole, 17",24853793,CC1=C(C2=C(N1)C=CC(=C2)OC)CC(=O)NC(CCCCCC(=O)C...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HDAC3_HUMAN,"4-phenylimidazole, 19",11700059,CCC(=O)CCCCCC(C1=NC=C(N1)C2=CC=CC=C2)NC(=O)CC3...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HDAC3_HUMAN,AC1OCG0B,6918878,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=C(C=CC(=C2)C3=CC=...,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HDAC3_HUMAN,Acetyldinaline,2746,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=CC=CC=C2N,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HDAC3_HUMAN,apicidin,467801,CCC(C)C1C(=O)N2CCCCC2C(=O)NC(C(=O)NC(C(=O)N1)C...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
train_df[~ train_df['pubchemID'].isin(train_combine['pubchemID'])]

,uniprot_id,drug,pubchemID,smiles
99,HDAC3_HUMAN,CHEMBL466644,44574084,CC(=O)CCCCCC(C1=NC=C(N1)C2=CC3=CC=CC=C3N=C2OC)...
245,RASH_HUMAN,CHEBI:646034,44323679,CN1C=C(C=C1C(=O)NCCC(=N)N)NC(=O)C2=CC(=CN2C)NC...
246,RASH_HUMAN,CHEBI:646061,44323637,CN1C=C(C=C1C(=O)NCCC(=N)N)NC(=O)C2=CC(=CN2C)NC...
247,RASH_HUMAN,CHEBI:646080,44323891,CN1C=C(C=C1C(=O)NCCC(=N)N)NC(=O)C2=CC(=CN2C)NC...
248,RASH_HUMAN,CHEBI:646083,44323723,CN1C=C(C=C1C(=O)NCCC(=N)N)NC(=O)C2=CC(=CN2C)NC...
...,...,...,...,...
7811,PGH2_HUMAN,STK030483,6516154,C1=CC(=CC=C1NN=C2C=CC(=O)C(=C2)Cl)S(=O)(=O)N
7821,PGH2_HUMAN,TENOXICAM,5312154,CN1C(=C(NC2=CC=CC=N2)O)C(=O)C3=C(S1(=O)=O)C=CS3
7824,PGH2_HUMAN,"Thiazole analogue, 7",24824182,C1=CC(=CC(=C1)Cl)C=C2C(=O)N=C(S2)NC3=NC=CS3
7853,IL1B_HUMAN,Minocycline Monohydrochloride,5281021,CN(C)C1C2CC3CC4=C(C=CC(=C4C(=C3C(=O)C2(C(=O)C(...
7897,PERM_HUMAN,CHEMBL216114,44353019,CC(C)CC(C(=O)NCC(=O)NC(CCCN=C(N)N)C(=O)O)NC(=O...

In [84]:
# Get ID list that cannot be extracted
missing_fp = train_df[~ train_df['pubchemID'].isin(train_combine['pubchemID'])]
missing_fp.to_csv('../data/missing_train_fp.csv', index=False)

## Test Data

In [73]:
# Train data w Pubchem ID
test_df = pd.read_excel('../data/com-test-herbaldb-pubchem-id.xlsx')
print(test_df.shape)
test_df.head()

(811, 2)

                  name  pubchem_id
0          Tubotaiwine      100004
1         Isoforskolin    10001602
2  beta-phenethylamine        1001
3             Limacine      100257
4        (-)-Repandine    10031631

In [74]:
# Train data fp
test_fp_df = pd.read_csv('../data/com-test-herbaldb-fp.csv')
test_fp_df.columns = ['pubchemID'] + list(test_fp_df.columns[1:])
print(test_fp_df.shape)
test_fp_df.head()

(775, 882)

,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,>=_4_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,100004,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10001602,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1001,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100257,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10031631,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
test_combine = test_df.merge(test_fp_df, how='inner', left_on='pubchem_id', right_on='pubchemID')
print(test_combine.shape)
test_combine.head()

(798, 884)

,name,pubchem_id,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,Tubotaiwine,100004,100004,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Isoforskolin,10001602,10001602,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,beta-phenethylamine,1001,1001,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Limacine,100257,100257,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,(-)-Repandine,10031631,10031631,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
test_df[~ test_df['pubchem_id'].isin(test_combine['pubchem_id'])]

                      name  pubchem_id
147         (+)-Coclaurine       16047
194            Brassilexin      189690
212          Cinchonain Ic    21676833
242        Gibberellin A98    25200670
391    L-(+)-Tartaric acid     4444305
478          Miraxanthin-I     5281200
479         Miraxanthin-II     5281201
480        Miraxanthin-III     5281202
481          Miraxanthin-V     5281203
482         Vulgaxanthin-I     5281217
591  Methyl pheophorbide a     5385554
643         Piperlongumine     6378588
714              Guanosine        6802

In [83]:
# Get ID list that cannot be extracted
missing_fp = test_df[~ test_df['pubchem_id'].isin(test_combine['pubchem_id'])]
missing_fp.to_csv('../data/missing_test_fp.csv', index=False)

In [96]:
missing_fp = pd.read_csv('../data/missing_test_fp.csv')
missing_fp

                     name  pubchem_id  new_pubchem_id
0          (+)-Coclaurine       16047          440989
1             Brassilexin      189690       135413564
2           Cinchonain Ic    21676833        21676383
3         Gibberellin A98    25200670       101997919
4     L-(+)-Tartaric acid     4444305          444305
5           Miraxanthin-I     5281200       135438591
6          Miraxanthin-II     5281201       135438592
7         Miraxanthin-III     5281202       135438593
8           Miraxanthin-V     5281203       135438594
9          Vulgaxanthin-I     5281217       135438599
10  Methyl pheophorbide a     5385554       135407639
11         Piperlongumine     6378588          637858
12              Guanosine        6802       135398635

# Combine The Existing with The Missing

## Test Data

In [104]:
test_combine = test_combine.drop(['pubchem_id'], axis=1)
test_combine.head()

,name,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,Tubotaiwine,100004,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Isoforskolin,10001602,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,beta-phenethylamine,1001,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Limacine,100257,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,(-)-Repandine,10031631,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
missing_test = pd.read_csv('../data/missing-test.csv')
missing_test_fp = pd.read_csv('../data/missing-test-fp.csv')
missing_test_combine = missing_test.merge(missing_test_fp, left_on='new_pubchem_id', right_on='pubchemID')
missing_test_combine = missing_test_combine.drop(['pubchem_id', 'new_pubchem_id'], axis=1)
missing_test_combine

,name,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,(+)-Coclaurine,440989,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Brassilexin,135413564,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cinchonain Ic,21676383,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Gibberellin A98,101997919,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,L-(+)-Tartaric acid,444305,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Miraxanthin-I,135438591,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Miraxanthin-II,135438592,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Miraxanthin-III,135438593,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Miraxanthin-V,135438594,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Vulgaxanthin-I,135438599,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Methyl pheophorbide a,135407639,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Piperlongumine,637858,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Guanosine,135398635,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
test_final = pd.concat([test_combine, missing_test_combine])
print(test_final.shape)
test_final.head()

(811, 883)

,name,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,Tubotaiwine,100004,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Isoforskolin,10001602,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,beta-phenethylamine,1001,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Limacine,100257,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,(-)-Repandine,10031631,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
test_final.to_csv('../data/com-test-herbaldb-final.csv', index=False)

## Train Data

In [124]:
missing_train = pd.read_csv('../data/missing-train.csv')
missing_train_fp = pd.read_csv('../data/missing-train-fp.csv')

In [125]:
print(missing_train.shape)
missing_train.head()

(268, 3)

    uniprot_id          drug  pubchemID
0  HDAC3_HUMAN  CHEMBL466644   44574084
1   RASH_HUMAN  CHEBI:646034   44323679
2   RASH_HUMAN  CHEBI:646061   44323637
3   RASH_HUMAN  CHEBI:646080   44323891
4   RASH_HUMAN  CHEBI:646083   44323723

In [126]:
print(missing_train_fp.shape)
missing_train_fp.columns = ['pubchemID'] + list(train_fp_df.columns[1:])
missing_train_fp.head()

(263, 882)

,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,>=_4_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,44574084,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,44323679,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,44323637,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44323891,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,44323723,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
missing_train_combine = missing_train.merge(missing_train_fp, on='pubchemID')
print(missing_train_combine.shape)
missing_train_combine.head()

(268, 884)

,uniprot_id,drug,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,HDAC3_HUMAN,CHEMBL466644,44574084,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,RASH_HUMAN,CHEBI:646034,44323679,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,RASH_HUMAN,CHEBI:646061,44323637,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,RASH_HUMAN,CHEBI:646080,44323891,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RASH_HUMAN,CHEBI:646083,44323723,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
print(train_combine.shape)
train_combine.head()

(7634, 885)

,uniprot_id,drug,pubchemID,smiles,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,HDAC3_HUMAN,"4-phenylimidazole, 17",24853793,CC1=C(C2=C(N1)C=CC(=C2)OC)CC(=O)NC(CCCCCC(=O)C...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HDAC3_HUMAN,"4-phenylimidazole, 19",11700059,CCC(=O)CCCCCC(C1=NC=C(N1)C2=CC=CC=C2)NC(=O)CC3...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HDAC3_HUMAN,AC1OCG0B,6918878,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=C(C=CC(=C2)C3=CC=...,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HDAC3_HUMAN,Acetyldinaline,2746,CC(=O)NC1=CC=C(C=C1)C(=O)NC2=CC=CC=C2N,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HDAC3_HUMAN,apicidin,467801,CCC(C)C1C(=O)N2CCCCC2C(=O)NC(C(=O)NC(C(=O)N1)C...,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_combine = train_combine.drop(['smiles'], axis=1)

In [131]:
print(train_combine.shape)
print(missing_train_combine.shape)

train_final = pd.concat([train_combine, missing_train_combine])

print(train_final.shape)
train_final.head()

(7634, 884)
(268, 884)
(7902, 884)

,uniprot_id,drug,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,HDAC3_HUMAN,"4-phenylimidazole, 17",24853793,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HDAC3_HUMAN,"4-phenylimidazole, 19",11700059,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HDAC3_HUMAN,AC1OCG0B,6918878,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HDAC3_HUMAN,Acetyldinaline,2746,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HDAC3_HUMAN,apicidin,467801,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
train_final.to_csv('../data/com-train-pos-final.csv', index=False)

In [10]:
import pandas as pd
fp = pd.read_csv('../data/com-train-pos-final.csv')
fp.head()

,uniprot_id,drug,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,HDAC3_HUMAN,"4-phenylimidazole, 17",24853793,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HDAC3_HUMAN,"4-phenylimidazole, 19",11700059,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HDAC3_HUMAN,AC1OCG0B,6918878,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HDAC3_HUMAN,Acetyldinaline,2746,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HDAC3_HUMAN,apicidin,467801,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
fp = fp.drop(['uniprot_id'], axis=1)
print(fp.shape)
fp.head()

(7902, 883)

,drug,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,"4-phenylimidazole, 17",24853793,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"4-phenylimidazole, 19",11700059,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AC1OCG0B,6918878,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Acetyldinaline,2746,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,apicidin,467801,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
fp = fp.drop_duplicates()
print(fp.shape)
fp.head()

(7708, 883)

,drug,pubchemID,>=_4_H,>=_8_H,>=_16_H,>=_32_H,>=_1_Li,>=_2_Li,>=_1_B,>=_2_B,...,SC1C(S)CCC1,SC1C(N)CCC1,SC1C(Cl)CCC1,SC1C(Br)CCC1,NC1C(N)CCC1,NC1C(Cl)CC1,NC1C(Br)CCC1,ClC1C(Cl)CCC1,ClC1C(Br)CCC1,BrC1C(Br)CCC1
0,"4-phenylimidazole, 17",24853793,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"4-phenylimidazole, 19",11700059,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AC1OCG0B,6918878,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Acetyldinaline,2746,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,apicidin,467801,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
fp.to_csv('../data/com-train-fp.csv', index=False)